<% if @artist.errors.present? %>
 <ul>
  <% @artist.errors.full_messages.each do |message| %>
  	<li><%= message %></li>
   <% end %>
 </ul>
<% end %>


<%= form_for @artist do |f| %>
<table>
	<tr>
		<td> Name </td>
		<td>:</td>
		<td><%= f.text_field :name %></td>
	</tr>

    <tr>
		<td> Artist </td>
		<td>:</td>
		<td><%= f.text_field :artist %></td>
	</tr>

	<tr>
		<td colspan='3'><%= f.submit %></td>
	</tr>
</table>
<% end %>